<% provide(:title, "通知一覧") %>
<section class="user-notification hero is-light is-halfheight">
  <div class="columns is-centered">
    <div class="column is-12-mobile is-10-tablet is-9-desktop is-8-widescreen is-6-fullhd">
      <div class="box">
        <% if @checked_notifications.exists? %>
          <%= paginate @checked_notifications %>
          <div class="info-contents">
            <% @checked_notifications.each do |notification| %>
              <% visitor = notification.visitor %>
              <% visited = notification.visited %>
              <div class="info-area">
                <strong class="info-element"><%= link_to visitor.name, users_profile_path(visitor.name) %></strong>
                <span>さんが</span>
                <% if notification.action == "like" %>
                  <strong class="info-element"><%= link_to 'あなたの投稿', notification.post %></strong>
                  <span>にlikeしました</span>
                <% elsif notification.action == "remember" %>
                  <strong class="info-element"><%= link_to 'あなたの投稿', notification.post %></strong>
                  <span>にrememberしました</span>
                <% elsif notification.action == "comment" %>
                  <% if notification.post.user_id == visited.id %>
                    <strong class="info-element"><%= link_to "あなたの投稿", notification.post %></strong>
                    <span>にコメントしました</span>
                    <div class="comment-content"><%= notification.comment.comment_content %></div>
                  <% else %>
                    <%= link_to post_path(notification.post) do %>
                      <% if visitor.name == notification.post.user.name %>
                        <strong class="info-element">自身の投稿</strong>
                      <% else %>
                        <strong class="info-element"><%= notification.post.user.name %>さんの投稿</strong>
                      <% end %>
                    <% end %>
                    <span>にコメントしました</span>
                    <div class="comment-content"><%= notification.comment.comment_content %></div>
                  <% end %>
                <% end %>
                <span class="info-date"><%= notification.created_at.strftime('%m/%d %H:%M') %></span>
              </div>
            <% end %>
          <% else %>
            <p class="none-exists-info">通知はまだありません</p>
            <%= link_to "timelineへ", posts_path, class: "posts-link-to" %>
          <% end %>
        </div>
        <%= paginate @checked_notifications %>
      </div>
    </div>
  </div>
</section>
