<% if @notifications.exists? %>
  <% @notifications.each do |notification| %>
    <!-- それぞれのuserを格納 -->
    <% visitor = notification.visitor %>
    <% visited = notification.visited %>

    <%= link_to users_profile_path(visitor.name) do %>
      <%= image_tag avatar_url(visitor) %>
      <%= visitor.name %>さんが
    <% end %>

    <% if notification.action == "like" %>
      <%= link_to 'あなたの投稿', notification.post %>にlikeしました

    <% elsif notification.action == "remember" %>
      <%= link_to 'あなたの投稿', notification.post %>にrememberしました

    <% elsif notification.action == "comment" %>
      <% if notification.post.user_id == visited.id %>
        <%= link_to "あなたの投稿", notification.post %>にコメントしました
      <% else %>
        <%= link_to post_path(notification.post) do %>
          <%= image_tag avatar_url(notification.post.user) %>
          <%= notification.post.user.name %>さんの投稿にコメントしました
          <%= notification.comment %>
        <% end %>
      <% end %>
    <% end %>

  <%= info_time(notification.created_at) %>
  <% end %>
<% else %>
  <p>通知はありません</p>
<% end %>
