<% provide(:title, "New Info") %>
<section class="user-notification hero is-white is-halfheight">
  <div class="columns is-centered">
    <div class="column is-10-desktop is-10-widescreen">
      <div class="box">
        <div class="info-contents">
          <% if @notifications.exists? %>
            <% @notifications.each do |notification| %>
              <!-- それぞれのuserを格納 -->
              <% visitor = notification.visitor %>
              <% visited = notification.visited %>
              <div class="info-area">
                <strong class="info-element"><%= link_to visitor.name, users_profile_path(visitor.name) %></strong>
                <span>さんが</span>
                <% if notification.action == "like" %>
                  <strong class="info-element"><%= link_to 'あなたの投稿', notification.post %></strong>
                  <span>にlikeしました</span>
                <% elsif notification.action == "remember" %>
                  <strong class="info-element"><%= link_to 'あなたの投稿', notification.post %></strong>
                  <span>にrememberしました</span>
                <% elsif notification.action == "comment" %>
                  <% if notification.post.user_id == visited.id %>
                    <strong class="info-element"><%= link_to "あなたの投稿", notification.post %></strong>
                    <span>にコメントしました</span>
                    <div class="comment-content"><%= notification.comment.comment_content %></div>
                  <% else %>
                    <%= link_to post_path(notification.post) do %>
                      <% if visitor.name == notification.post.user.name %>
                        <strong class="info-element">自身の投稿</strong>
                      <% else %>
                        <strong class="info-element"><%= notification.post.user.name %>さんの投稿</strong>
                      <% end %>
                    <% end %>
                    <span>にコメントしました</span>
                    <div class="comment-content"><%= notification.comment.comment_content %></div>
                  <% end %>
                <% end %>
                <span class="info-date"><%= info_time(notification.created_at) %></span>
              </div>
            <% end %>
          <% else %>
            <p class="none-info">現在新しい通知はありません</p>
            <%= link_to "timelineへ", posts_path, class: "posts-link" %>
            <%= link_to "過去の通知を確認する", notifications_checked_path, class: "checked-notifications-link" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
