<% if @notifications.exists? %>
  <% @notifications.each do |notification| %>
    <!-- それぞれのuserを格納 -->
    <% visitor = notification.visitor %>
    <% visited = notification.visited %>

    <%= link_to users_profile_path(visitor.name) do %>
      <%= image_tag avatar_url(visitor).to_s %>
      <strong><%= visitor.name %></strong>さんが
    <% end %>

    <% if notification.action == "like" %>
      <%= link_to 'あなたの投稿', notification.post %>にlikeしました

    <% elsif notification.action == "remember" %>
      <%= link_to 'あなたの投稿', notification.post %>にrememberしました

    <% elsif notification.action == "comment" %>
      <%= link_to 'あなたの投稿', notification.post %>にcommentしました

    <% end %>

  <% end %>



























<% else %>
  <p>通知はありません</p>
<% end %>
