<% content_for :title do %>
  Profile - Foody!
<% end %>
<section class="hero is-dark is-halfheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6-table is-10-desktop is-8-widescreen">
          <div class="box">
            <div class="field has-text-centered">
              <strong>アカウント情報</strong>
            </div>
            <div class="box">
              <div class="field">
                <div class="user-icon-field">
                  <% if @user.image? %>
                    <%= image_tag @user.image.url %>
                  <% else %>
                    <%= image_tag avatar_url(@user), class: "user-image", alt: "ユーザーアイコン" %>
                  <% end %>
                </div>
              </div>
              <div class="field">
                <span class="user-element">ID: <%= @user.id %></span>
              </div>
              <div class="field">
                <span class="user-element">アカウント名: <%= @user.name %></span>
              </div>
              <div class="field">
                <span class="user-element">調理ジャンル: <%= @user.introduction %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="time-line">
  <h2 class="page-title"><%= @user.name %>さんの投稿一覧</h2>
  <div class="posts-container">
    <div class="posts-contents">
      <% @posts.each do |post| %>
        <div class="post-area">
          <figure>
            <%= link_to image_tag(avatar_url(post.user), class: "posted-user-icon", alt: "ユーザーアイコン"), users_show_path(post.user_id) %>
          </figure>
          <%= link_to post_path(post.id) do %>
            <div class="post-area-text">
              <div class="posted-user-name"><%= post.user.name %>(<%= post.user.introduction %>)</div>
              <div class="posted-date"><%= post.created_at %></div>
              <div class="post-text">
                <%= post.title %>
                <%= post.post_content %>
                <% unless post.avatar.blank? %>
                  <div class="post-pict">
                    <%= image_tag(post_image_url(post), class: "post-image", alt: "投稿画像") %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
