<% provide(:title, "ユーザーページ") %>
<section class="other-user-profile">
  <div class="columns is-centered">
    <div class="column">
      <div class="field">
        <div class="user-icon-field">
          <% if @user.image? %>
            <%= image_tag @user.image.url %>
          <% else %>
            <%= image_tag avatar_url(@user), class: "user-image", alt: "ユーザーアイコン" %>
          <% end %>
        </div>
      </div>
      <div class="field">
        <span class="user-element">アカウント名: <%= @user.name %></span>
      </div>
      <div class="field">
        <span class="user-element">調理ジャンル: <%= @user.introduction %></span>
      </div>
      <div class="field follow-area">

        <%= render "follows/follow_function", user: @user %>

        <div class="field user-element">
          <%= link_to users_followings_path(name: @user.name) do %>
            <span>フォロー<%= @following_users.count %></span>
          <% end %>&nbsp;&nbsp;
          <%= link_to users_followers_path(name: @user.name) do %>
            <span>フォロワー<%= @follower_users.count %></span>
          <% end %>
        </div>
      </div>
      <div class="field">
        <span class="user-element appear-user-data">アクティビティの確認</span>
        <div class="user-data">
          <span class="user-element">投稿件数: <%= @posts.count %>件</span>
          <span class="user-element">コメントした回数: <%= @user.comments.count %>回</span>
          <span class="user-element"><i class="fa fa-star" style="color: #209cee;"></i>を押した投稿件数: <%= @user.liked_posts.count %>件</span>
          <span class="user-element"><i class="fa fa-book" style="color: green;"></i>を押した投稿件数: <%= @user.checked_remember_posts.count %>件</span>
          <span class="user-element"><i class="fa fa-star" style="color: #209cee;"></i>をもらった回数: <%= @received_like %>回</span>
          <span class="user-element"><i class="fa fa-book" style="color: green;"></i>をもらった回数: <%= @received_remember %>回</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="other-user-posts">
  <div class="posts-container">
    <div class="posts-contents">
      <% if @posts.count.zero? %>
        <div class="zero-info posts-zero">まだ<%= @user.name %>さんの投稿はありません</div>
      <% else %>
        <%= render "posts", posts: @posts %>
      <% end %>
    </div>
  </div>
</section>
