<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div data-turbolinks="false" class="navbar-brand">
      <%= link_to home_path do %>
        <h1 class="navbar-item site-title">Foody!</h1>
      <% end %>
      <a role="button" class="navbar-burger burger burger-menu" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <!-- 管理人がログインしている場合 -->
          <% if admin_user_signed_in? %>
            <div class="navbar-item has-dropdown is-hoverable navbar-name">
              <div class="navbar-item is-hidden-mobile is-hidden-tablet-only navbar-menu">
                <p class="nav-name">Admin Menu</p>
              </div>
              <div class="navbar-dropdown">
                <%= link_to "admin page", rails_admin_path, class: "navbar-item nav-element" %>
                <hr class="navbar-divider">
                <%= link_to "admin logout", destroy_admin_user_session_path, method: :delete, class: "navbar-item nav-element" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="navbar-end">
        <!-- ログインしている場合 -->
        <% if user_signed_in? %>
          <div class="navbar-item has-dropdown is-hoverable navbar-name">
            <div class="navbar-item is-hidden-mobile is-hidden-tablet-only navbar-menu">
              <p class="nav-name"><%= current_user.name %></p>
            </div>
            <div class="navbar-dropdown">
              <%= link_to "タイムライン", posts_path, class: "navbar-item nav-element" %>
              <%= link_to "マイページ", users_show_path, class: "navbar-item nav-element" %>
              <% if new_notifications(current_user).blank? %>
                <%= link_to "通知一覧", checked_notifications_path, class: "navbar-item nav-element" %>
              <% else %>
                <%= link_to "新規通知: #{new_notifications(current_user).count}件", notifications_path, class: "navbar-item nav-element exists-new-info" %>
              <% end %>
              <%= link_to "お問合せ", new_contact_path(user_id: current_user.id), class: "navbar-item nav-element" %>
              <%= link_to "ホーム", home_path, class: "navbar-item nav-element", data: {"turbolinks" => false} %>
              <%= link_to "Foody!とは", about_path, class: "navbar-item nav-element" %>
              <%= link_to "利用規約", terms_path, class: "navbar-item nav-element" %>
              <hr class="navbar-divider">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "navbar-item nav-element" %>
            </div>
          </div>
        <!-- ログインしていない場合 -->
        <% else %>
          <div class="navbar-item attend">
            <div class="buttons">
              <%= link_to new_user_registration_path, class: "button is-primary this-block" do %>
                <span class="icon is-small">
                  <i class="far fa-user"></i>
                </span>
                <span>新規登録</span>
              <% end %>
              <%= link_to new_user_session_path, class: "button is-info this-block btn-m-t" do %>
                <span class="icon is-small">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span>ログイン</span>
              <% end %>
              <%= link_to users_guest_sign_in_path, class: "button is-dark this-block btn-m-t", method: :post do %>
                <span class="icon is-small">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span>ゲストログイン</span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
</header>
