<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div data-turbolinks="false" class="navbar-brand">
      <%= link_to home_path do %>
        <h1 class="navbar-item site-title">Foody!</h1>
      <% end %>
      <a role="button" class="navbar-burger burger burger-menu" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
        </div>
      </div>
      <div class="navbar-end">
        <!-- ログインしていない場合 -->
        <% if (!user_signed_in?) %>
          <div class="navbar-item attend">
            <div class="buttons">
              <%= link_to "ログイン", new_user_session_path, class: "button is-primary" %>
              <%= link_to "登録する", new_user_registration_path, class: "button is-white" %>
            </div>
          </div>
        <!-- ログインしている場合 -->
        <% else %>
          <div class="navbar-item has-dropdown is-hoverable navbar-name">
            <div class="navbar-item is-hidden-mobile is-hidden-tablet-only navbar-menu">
              <p class="nav-name"><%= current_user.name %></p>
            </div>
            <div class="navbar-dropdown">
              <%= link_to "my page", users_show_path, class: "navbar-item nav-element" %>
              <% if new_notifications(current_user).blank? %>
                <%= link_to "info", notifications_path, class: "navbar-item nav-element" %>
              <% else %>
                <%= link_to "info", notifications_path, class: "navbar-item nav-element info-notice" %>
                <span class="new-notice-count"><%= new_notifications(current_user).count %></span>
              <% end %>
              <%= link_to "timeline", posts_path, class: "navbar-item nav-element" %>
              <%= link_to "about", about_path, class: "navbar-item nav-element" %>
              <%= link_to "contact", new_contact_path(user_id: current_user.id), class: "navbar-item nav-element" %>
              <%= link_to "home", home_path, class: "navbar-item nav-element", data: {"turbolinks" => false} %>
              <hr class="navbar-divider">
              <%= link_to "logout", destroy_user_session_path, method: :delete, class: "navbar-item nav-element" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
</header>
