<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item site-title" href="/">
        <h1>Foody!</h1>
      </a>
      <a role="button" class="navbar-burger burger burger-menu" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
        </div>
      </div>
      <div class="navbar-end">
        <!-- ログインしていない場合-->
        <% if (!user_signed_in?) %>
          <div class="navbar-item attend">
            <div class="buttons">
              <%= link_to "ログイン", new_user_session_path, class: "button is-primary" %>
              <%= link_to "登録する", new_user_registration_path, class: "button is-white" %>
            </div>
          </div>
        <!-- ログインしている場合-->
        <% else %>
          <div class="navbar-item has-dropdown is-hoverable navbar-name">
            <div class="navbar-item is-hidden-mobile is-hidden-tablet-only navbar-menu">
              <p class="nav-name"><%= current_user.name %></p>
            </div>
            <div class="navbar-dropdown">
              <%= link_to "home", pages_home_path, class: "navbar-item nav-element" %>
              <%= link_to "profile", users_show_path, class: "navbar-item nav-element" %>
              <a href="/" class="navbar-item nav-element">posted</a>
              <a href="/" class="navbar-item nav-element">remember</a>
              <hr class="navbar-divider">
              <%= link_to  "logout", destroy_user_session_path, method: :delete, class: "navbar-item nav-element" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
</header>

<script>
  $(document).ready(function() {
  $(".navbar-burger").click(function() {
    $(".navbar-burger").toggleClass("is-active");
    $(".navbar-menu").toggleClass("is-active");
  });
  });
</script>
