<% if user_signed_in? %>
  <section class="search-section">
    <div class="search-form-disappear">
      <i class="fas fa-angle-right dis-search-icon"></i>
    </div>
    <div class="search-form-appear">
      <i class="fas fa-search search-icon"></i>
    </div>
    <div class="search-form">
      <%= form_with url: searches_result_path, local: true, method: :get do |f| %>
        <%= f.text_field :word, placeholder: "ハーブ 保管方法", required: true, class: "search-word-area" %>
        <%= f.select :range, options_for_select([["投稿を", "Post"], ["コメントを", "Comment"], ["ユーザーを", "User"]]) %>
        <%= f.submit "検索", class: "button is-info search-submit-btn" %>
      <% end %>
    </div>
  </section>
  <section class="tab-sp-search-section">
    <div class="tab-sp-search-form-appear">
      <i class="fas fa-search tab-sp-search-icon"></i>
    </div>
  </section>
  <div class="tab-sp-search">
    <section class="tab-sp-search-form-section hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-12-mobile is-12-tablet">
              <div class="box">
                <div class="tab-sp-search-area">
                  <%= form_with url: searches_result_path, local: true, method: :get do |f| %>
                    <div class="field">
                      <%= f.text_field :word, placeholder: "ハーブ 保管方法", required: true, autofocus: true, class: "tab-sp-search-word-area" %>
                    </div>
                    <div class="field">
                      <%= f.select :range, options_for_select([["投稿を", "Post"], ["コメントを", "Comment"], ["ユーザーを", "User"]]) %>
                    </div>
                    <div class="field">
                      <%= f.submit "検索", class: "button is-info tab-sp-search-submit-btn ope-btn" %>
                    </div>
                    <div class="field">
                      <i class="fas fa-times fa-lg close-tab-sp-search-btn"></i>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<% end %>
