<% provide(:title, "お問合せ確認") %>
<section class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-12-mobile is-10-tablet is-10-desktop is-10-widescreen is-9-fullhd">
          <div class="box">
            <div class="field has-text-centered">
              <strong>お問い合わせ確認</strong>
            </div>
            <div class="box">
              <%= form_with url: contacts_path, method: :post do |f| %>
                <div class="field">
                  <span class="contact-element">件名：</span><span class="contact-value"><%= simple_format(@contact.name) %></span>
                </div>
                <div class="field">
                  <span class="contact-element">内容：</span><span class="contact-value"><%= simple_format(@contact.content) %></span>
                </div>
                <%= f.hidden_field :name, value: @contact.name %>
                <%= f.hidden_field :content, value: @contact.content %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <div class="field">
                  <%= f.submit "この内容で送信する", class: "button is-info is-fullwidth" %>
                </div>
                <div class="field">
                  <%= link_to "戻る", "javascript:history.back()", class: "button is-light ope-btn" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
