<% provide(:title, "お問合せ") %>
<section class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-12-mobile is-10-tablet is-10-desktop is-10-widescreen is-9-fullhd">
          <div class="box">
            <div class="field has-text-centered">
              <strong>お問い合わせ</strong>
            </div>
            <div class="box">
              <%= render "shared/error", object: @contact %>
              <%= form_with(model: @contact, local: true) do |f| %>
                <div class="field">
                  <div class="control has-icons-left">
                    <%= f.text_area :content, class: "input is-info contact-textarea", placeholder: "お問合せ内容", required: true %>
                    <span class="icon is-small is-left">
                      <i class="far fa-sticky-note"></i>
                    </span>
                  </div>
                  <p class="help is-danger">*必須</p>
                </div>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :name, value: current_user.name %>
                <div class="field">
                  <%= f.submit "送信する", class: "button is-link is-fullwidth m-t-10 m-b-10" %>
                </div>
                <div class="field">
                  <%= link_to "もどる", root_path, class: "button is-danger ope-btn" %>
                </div>
                <div class="field">
                  <%= link_to "お問合せ履歴", contacts_path(current_user.name), class: "button" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
