<% provide(:title, "検索結果") %>
<section class="search-result hero is-light is-halfheight">
  <div class="columns is-centered">
    <div class="column is-10-desktop is-10-widescreen">
      <div class="box">
        <div class="result-contents">
          <% if @range == "Post" %>
            <div class="post-result">
              <% if @posts.present? %>
                <div class="result-count-area">
                  <h1 class="result-count">「 <%= params[:word] %> 」を含む投稿のヒット件数:<span> <%= @posts.total_count %>件</span></h1>
                </div>
                <% @posts.each do |post| %>
                  <div class="hit-content">
                    <%= link_to post_path(post.id) do %>
                      <p class="hit-post-title"><%= post.title %></p>
                      <p class="hit-post-content"><%= pick_trancate_sentence(post.post_content, params[:word]) %></p>
                      <% if current_user.already_commented?(post) %>
                        <span class="hit-comment-count" style="color: coral;"><i class="fa fa-comments"></i>&nbsp;<%= post.comments.count %></span>
                      <% else %>
                        <span class="hit-comment-count" style="color: silver;"><i class="fa fa-comments"></i>&nbsp;<%= post.comments.count %></span>
                      <% end %>
                      <% if current_user.already_liked?(post) %>
                        <span class="hit-like-count" style="color: #209cee;"><i class="fa fa-star"></i></i>&nbsp;<%= post.likes.count %></span>
                      <% else %>
                        <span class="hit-like-count" style="color: silver;"><i class="fa fa-star"></i></i>&nbsp;<%= post.likes.count %></span>
                      <% end %>
                      <% if current_user.checked_remember?(post) %>
                        <span class="hit-remember-count" style="color: green;"><i class="fa fa-book"></i></i>&nbsp;<%= post.remembers.count %></span>
                      <% else %>
                        <span class="hit-remember-count" style="color: silver;"><i class="fa fa-book"></i></i>&nbsp;<%= post.remembers.count %></span>
                      <% end %>
                      <p class="hit-post-date"><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
                    <% end %>
                  </div>
                <% end %>
                <%= paginate @posts %>
              <% else %>
                <div class="not-found">
                  <p>「 <%= params[:word] %> 」を含む投稿はありませんでした。</p>
                  <p>キーワードを変更して試して下さい。</p>
                  <button class="button is-info search-advise-btn ope-btn">検索のヒント</button>
                </div>
              <% end %>
            </div>
          <% elsif @range == 'Comment' %>
            <div class="comment-result">
              <% if @comments.present? %>
                <div class="result-count-area">
                  <h1 class="result-count">「 <%= params[:word] %> 」を含むコメントのヒット件数:<span><%= @comments.total_count %>件</span></h1>
                </div>
                <%= paginate @comments %>
                <div class="hit-content">
                  <% @comments.each do |comment| %>
                    <%= link_to post_path(comment.post.id) do %>
                      <p class="hit-comment-content"><%= pick_trancate_sentence(comment.comment_content, params[:word]) %></p>
                      <p class="hit-comment-date"><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></p>
                    <% end %>
                  <% end %>
                </div>
                <%= paginate @comments %>
              <% else %>
                <div class="not-found">
                  <p>「 <%= params[:word] %> 」を含むコメントはありませんでした。</p>
                  <p>キーワードを変更して試して下さい。</p>
                  <button class="button is-info search-advise-btn ope-btn">検索のヒント</button>
                </div>
              <% end %>
            </div>
          <% elsif @range == "User" %>
            <div class="user-result">
              <% if @users.present? %>
                <div class="result-count-area">
                  <h1 class="result-count">「 <%= params[:word] %> 」を調理ジャンルに含むユーザーのヒット件数:<span> <%= @users.total_count %>件</span></h1>
                </div>
                <%= paginate @users %>
                <div class="hit-user-content">
                  <% @users.each do |user| %>
                    <div class="hit-user-area">
                      <figure class="hit-icon"><%= link_to image_tag(avatar_url(user), class: "hit-user-icon", alt: "ユーザーアイコン"), users_profile_path(name: user.name) %></figure>
                      <p class="hit-user-intro"><%= link_to "#{user.name}(#{user.introduction})", users_profile_path(name: user.name) %></p>
                    </div>
                  <% end %>
                </div>
                <%= paginate @users %>
              <% else %>
                <div class="not-found">
                  <p>「 <%= params[:word] %> 」を含むユーザーはいませんでした。</p>
                  <p>キーワードを変更して試して下さい。</p>
                  <button class="button is-info search-advise-btn ope-btn">検索のヒント</button>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "advise" %>
<%= javascript_pack_tag 'search/result' %>
