<% provide(:title, "Search Result") %>
<section class="search-result hero is-white is-halfheight">
  <div class="columns is-centered">
    <div class="column is-10-desktop is-10-widescreen">
      <div class="box">
        <div class="result-contents">
          <% if @range == "Post" %>
            <div class="post-result">
              <% if @posts.present? %>
                <div class="result-count-area">
                  <h1 class="result-count">「 <%= params[:word] %> 」を含む投稿のヒット件数:<span> <%= @posts.total_count %>件</span></h1>
                </div>
                <%= paginate @posts %>
                <div class="hit-content">
                  <% @posts.each do |post| %>
                    <%= link_to post_path(post.id) do %>
                      <h2 class="hit-post-title">投稿タイトル：<%= emphasize_keyword(post.title, params[:word]) %></h2>
                      <p class="hit-post-content">投稿内容：<%= emphasize_keyword(post.post_content, params[:word]) %></p>
                    <% end %>
                  <% end %>
                </div>
                <%= paginate @posts %>
              <% else %>
                <div>
                  <p>「 <%= params[:word] %> 」を含む投稿はありませんでした。</p>
                  <p>キーワードを変更して試して見てください</p>
                  <button class="button is-info search-advise-btn">検索のヒント</button>
                </div>
              <% end %>
            </div>
          <% elsif @range == 'Comment' %>
            <div class="comment-result">
              <% if @comments.present? %>
                <div class="result-count-area">
                  <h1 class="result-count">「 <%= params[:word] %> 」を含むコメントのヒット件数<span><%= @comments.total_count %>件</span></h1>
                </div>
                <%= paginate @comments %>
                <div class="hit-content">
                  <% @comments.each do |comment| %>
                    <%= link_to post_path(comment.post.id) do %>
                      <p class="hit-comment-content">コメント内容：<%= emphasize_keyword(comment.comment_content, params[:word]) %></p>
                    <% end %>
                  <% end %>
                </div>
                <%= paginate @comments %>
              <% else %>
                <div>
                  <p>「 <%= params[:word] %> 」を含むコメントはありませんでした。</p>
                  <p>キーワードを変更して試して見てください</p>
                  <button class="button is-info search-advise-btn">検索のヒント</button>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="search-advise">
  <section class="hero is-dark is-halfheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-10-desktop is-10-widescreen">
            <div class="box">
              <div class="field has-text-centered">
                <strong>検索のヒント</strong>
              </div>
              <div class="box">
                <div class="field">
                  <div class="advise-area">
                    <div class="advise-text">
                      <p>- 検索範囲を切り替えて試して見てください。</p>
                      <p>例：投稿を => コメントを</p>
                      <br>
                      <p>- 二つの検索ワードでヒットしなかった場合は一つの検索ワードで試して見てください。</p>
                      <p>例：野菜 保管 => 野菜</p>
                      <br>
                      <p>- 漢字をひらがな、もしくはひらがなを漢字に変換して試して見てください。</p>
                      <p>例：桃 => もも, やさい => 野菜</p>
                    </div>
                    <br>
                    <button class="button is-danger dis-advise-btn">閉じる</button>
                    <br><br>
                    <%= link_to "問い合わせる", about_path, class: "button is-info" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%= javascript_pack_tag 'search/result' %>
