<% provide(:title, "Search Result") %>
<section class="search-result hero is-white is-halfheight">
  <div class="columns is-centered">
    <div class="column is-10-desktop is-10-widescreen">
      <div class="box">
        <div class="result-contents">
          <% if @range == "Post" %>
            <div class="post-result">
              <% if @posts.present? %>
                <div class="result-count-area">
                  <h1 class="result-count">「 <%= params[:word] %> 」を含む投稿のヒット件数:<span> <%= @posts.total_count %>件</span></h1>
                </div>
                <%= paginate @posts %>
                <div class="hit-content">
                  <% @posts.each do |post| %>
                    <%= link_to post_path(post.id) do %>
                      <p class="hit-post-title"><%= post.title %></p>
                      <p class="hit-post-content"><%= pick_trancate_sentence(post.post_content, params[:word]) %></p>
                      <% if current_user.already_commented?(post) %>
                        <span class="hit-comment-count" style="color: olive;"><i class="fa fa-comments"></i><%= post.comments.count %></span>
                      <% else %>
                        <span class="hit-comment-count" style="color: silver;"><i class="fa fa-comments"></i><%= post.comments.count %></span>
                      <% end %>
                      <% if current_user.already_liked?(post) %>
                        <span class="hit-like-count" style="color: red;"><i class="fa fa-heart"></i></i><%= post.likes.count %></span>
                      <% else %>
                        <span class="hit-like-count" style="color: silver;"><i class="fa fa-heart"></i></i><%= post.likes.count %></span>
                      <% end %>
                      <% if current_user.checked_remember?(post) %>
                        <span class="hit-remember-count" style="color: green;"><i class="fa fa-book"></i></i><%= post.remembers.count %></span>
                      <% else %>
                        <span class="hit-remember-count" style="color: silver;"><i class="fa fa-book"></i></i><%= post.remembers.count %></span>
                      <% end %>
                      <p class="hit-post-date"><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
                    <% end %>
                  <% end %>
                </div>
                <%= paginate @posts %>
              <% else %>
                <div>
                  <p>「 <%= params[:word] %> 」を含む投稿はありませんでした。</p>
                  <p>キーワードを変更して試して見てください</p>
                  <button class="button is-info search-advise-btn ope-btn">検索のヒント</button>
                </div>
              <% end %>
            </div>
          <% elsif @range == 'Comment' %>
            <div class="comment-result">
              <% if @comments.present? %>
                <div class="result-count-area">
                  <h1 class="result-count">「 <%= params[:word] %> 」を含むコメントのヒット件数:<span><%= @comments.total_count %>件</span></h1>
                </div>
                <%= paginate @comments %>
                <div class="hit-content">
                  <% @comments.each do |comment| %>
                    <%= link_to post_path(comment.post.id) do %>
                      <p class="hit-comment-content"><%= pick_trancate_sentence(comment.comment_content, params[:word]) %></p>
                      <p class="hit-comment-date"><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></p>
                    <% end %>
                  <% end %>
                </div>
                <%= paginate @comments %>
              <% else %>
                <div>
                  <p>「 <%= params[:word] %> 」を含むコメントはありませんでした。</p>
                  <p>キーワードを変更して試して見てください</p>
                  <button class="button is-info search-advise-btn ope-btn">検索のヒント</button>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="search-advise">
  <section class="hero is-dark is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-10-desktop is-10-widescreen">
            <div class="box">
              <div class="field has-text-centered">
                <strong>検索のヒント</strong>
              </div>
              <div class="box">
                <div class="advise-area">
                  <div class="advise-text">
                    <div class="field">
                      <p>- 検索範囲を切り替えて試して見てください。</p>
                      <p>例：投稿を => コメントを</p>
                    </div>
                    <div class="field">
                      <p>- 二つの検索ワードでヒットしなかった場合は一つの検索ワードで試して見てください。二つの検索ワードで検索した場合、どちらのワードも入っていなければヒットしない為です。</p>
                      <p>例：野菜 保管 => 野菜</p>
                    </div>
                    <div class="field">
                      <p>- 漢字をひらがな、もしくはひらがなを漢字に変換して試して見てください。</p>
                      <p>例：桃 => もも, やさい => 野菜</p>
                    </div>
                    <div class="field">
                      <button class="button is-danger dis-advise-btn ope-btn">閉じる</button>
                    </div>
                    <div class="field">
                      <%= link_to "問い合わせる", new_contact_path(user_id: current_user.id), class: "button is-info ope-btn" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%= javascript_pack_tag 'search/result' %>
