<% provide(:title, "Action user") %>
<div class="ope-btn-area">
  <h2 class="appear-liked-user appear-link">Like List</h2>
  <h2 class="appear-checked-remember-user appear-link">Remember List</h2>
</div>
<div class="like-users">
<section class="liked-user-list hero is-light is-fullheight">
  <div class="columns is-centered">
    <div class="column is-10-desktop is-10-widescreen">
      <div class="box">
        <div class="action-user-info">
          <p class="action-user-count">Like : <%= @post.likes.count %>件</p>
          <% if @liked_users.exists? %>
            <% @post.likes.each do |like| %>
              <div class="info-area">
                <% if like.user == current_user %>
                  <%= link_to image_tag(avatar_url(like.user), class: "action-user-icon", alt: "ユーザーアイコン"), users_show_path %>
                  <strong class="info-element"><%= link_to "あなた", users_show_path, class: "action-user-name" %></strong>
                  <span class="info-date"><%= info_time(like.created_at) %></span>
                <% else %>
                  <%= link_to image_tag(avatar_url(like.user), class: "action-user-icon", alt: "ユーザーアイコン"), users_profile_path(name: like.user.name) %>
                  <strong class="info-element"><%= link_to "#{like.user.name}さん", users_profile_path(name: like.user.name), class: "action-user-name" %></strong>
                  <span class="info-date"><%= info_time(like.created_at) %></span>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <h2 class="none-info">まだlikeしたユーザーはいません</h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<div class="remember-users">
<section class="checked-remember-user-list hero is-light is-fullheight">
  <div class="columns is-centered">
    <div class="column is-10-desktop is-10-widescreen">
      <div class="box">
        <div class="action-user-info">
          <p class="action-user-count">Remember : <%= @post.remembers.count %>件</p>
          <% if @remember_users.exists? %>
            <% @post.remembers.each do |remember| %>
              <div class="info-area">
                <% if remember.user == current_user %>
                  <%= link_to image_tag(avatar_url(remember.user), class: "action-user-icon", alt: "ユーザーアイコン"), users_show_path %>
                  <strong class="info-element"><%= link_to "あなた", users_show_path, class: "action-user-name" %></strong>
                  <span class="info-date"><%= info_time(remember.created_at) %></span>
                <% else %>
                  <%= link_to image_tag(avatar_url(remember.user), class: "action-user-icon", alt: "ユーザーアイコン"), users_profile_path(name: remember.user.name) %>
                  <strong class="info-element"><%= link_to "#{remember.user.name}さん", users_profile_path(name: remember.user.name), class: "action-user-name" %></strong>
                  <span class="info-date"><%= info_time(remember.created_at) %></span>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <h2 class="none-info">まだrememberしたユーザーはいません</h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<%= javascript_pack_tag 'post/action_user' %>
