<% content_for :title do %>
  Edit Post - Foody!
<% end %>
<section class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6-table is-10-desktop is-8-widescreen">
          <div class="box">
            <div class="field has-text-centered">
              <strong>投稿情報編集</strong>
            </div>
            <div class="box">
              <%= render "shared/error", object: @post %>
              <%= form_with model: @post do |f| %>
                <div class="field">
                  <%= f.label :title ,"タイトル", class: "label" %>
                  <div class="control has-icons-left">
                    <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "input is-info" %>
                    <span class="icon is-small is-left">
                      <i class="fas fa-pen"></i>
                    </span>
                  </div>
                  <p class="help is-danger">20字以内</p>
                </div>
                <div class="field">
                  <%= f.label :post_content, "内容", class: "label" %>
                  <div class="control has-icons-left">
                    <%= f.text_field :post_content, autocomplete: "post_content", class: "input is-info" %>
                    <span class="icon is-small is-left">
                      <i class="far fa-sticky-note"></i>
                    </span>
                    <p class="help is-danger">100字以内</p>
                  </div>
                </div>
                <div class="field">
                  <% unless @post.avatar.blank? %>
                    <%= image_tag(post_image_url(@post), class: "current-post-image", alt: "投稿画像") %>
                  <% else %>
                    <img class="not-have-post-image">
                  <% end %>
                  <%= f.label :avatar ,"画像ファイルの変更", class: "image-input-btn" %>
                  <div class="control">
                    <%= f.file_field :avatar, class: "image-form", accept: 'image/jpeg,image/gif,image/png' %>
                  </div>
                  <p class="help is-danger state">*変更しない場合は選択しないでください</p>
                </div>
                <div class="field">
                  <%= f.submit "投稿を更新する", class: "button is-link is-fullwidth m-t-10 m-b-10" %>
                  <%= link_to "戻る", :back, class: "post-back-btn" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).on('turbolinks:load', function () {
    // 選択した画像ファイル名表示関数
    $('.image-form').on('change', function () {
        let file = $(this).prop('files')[0];
        $('.state').text(file.name);
    });

    // 選択した画像ファイルのプレビュー関数
    $(function () {
      // 画像が選択された時に発火
      $(document).on('change', '.image-form', function () {
        // .file_filedからデータを取得して変数fileに代入
        let file = this.files[0];
        // FileReaderオブジェクトを作成
        let reader = new FileReader();
        // DataURIScheme文字列を取得
        reader.readAsDataURL(file);
        // 読み込みが完了したら処理が実行
        reader.onload = function () {
          // 読み込んだファイルの内容を取得して変数imageに
          let image = this.result;
          // 投稿に画像がなければ
          if ($('.current-post-image').length == 0) {
            // not-have-post-imageのスペース確保
            $('.not-have-post-image').css({
              'display': 'block' // defaultがnone
            });
            // 画像表示
            $('.not-have-post-image').attr({ src: image });
            } else {
            // 投稿の画像がプレビューされていれば(持っていれば)画像データのみを入れ替え
            $('.current-post-image').attr({ src: image });
          }
        }
      });
    });
  });
</script>
