<% content_for :title do %>
  Edit Post - Foody!
<% end %>
<section class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6-table is-10-desktop is-8-widescreen">
          <div class="box">
            <div class="field has-text-centered">
              <strong>投稿情報編集</strong>
            </div>
            <div class="box">
              <%= render "shared/error", object: @post %>
              <%= form_with model: @post do |f| %>
                <div class="field">
                  <%= f.label :title ,"タイトル", class: "label" %>
                  <div class="control has-icons-left">
                    <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "input is-info" %>
                    <span class="icon is-small is-left">
                      <i class="fas fa-pen"></i>
                    </span>
                  </div>
                  <p class="help is-danger">20字以内</p>
                </div>
                <div class="field">
                  <%= f.label :post_content, "内容", class: "label" %>
                  <div class="control has-icons-left">
                    <%= f.text_field :post_content, autocomplete: "post_content", class: "input is-info" %>
                    <span class="icon is-small is-left">
                      <i class="far fa-sticky-note"></i>
                    </span>
                    <p class="help is-danger">100字以内</p>
                  </div>
                </div>
                <div class="field">
                  <% unless @post.avatar.blank? %>
                      <%= image_tag(post_image_url(@post), class: "current-post-image", alt: "投稿画像") %>
                  <% end %>
                  <%= f.label :avatar ,"画像ファイルの変更", class: "image-input-btn" %>
                  <div class="control">
                    <%= f.file_field :avatar, class: "image-form", accept: 'image/jpeg,image/gif,image/png' %>
                  </div>
                  <p class="help is-danger state">*変更しない場合は選択しないでください</p>
                </div>
                <div class="field">
                  <%= f.submit "投稿を更新する", class: "button is-link is-fullwidth m-t-10 m-b-10" %>
                  <%= link_to "戻る", :back, class: "post-back-btn" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
$('.image-form').on('change', function () {
    let file = $(this).prop('files')[0];
    $('.state').text(file.name);
});
</script>
