<% provide(:title, "タイムライン") %>
<div class="appear-btn-area">
  <div class="post-form-appear">タイムラインに投稿する</div>
</div>
<%= render "posts/form", post: @post %>
<section class="time-line post-list jscroll">
  <div class="posts-container">
    <div class="posts-contents">
      <% @posts.each do |post| %>
        <div class="post-area">
          <figure>
            <% if current_user.id == post.user_id %>
              <%= link_to image_tag(avatar_url(post.user), class: "posted-user-icon", alt: "ユーザーアイコン"), users_show_path %>
            <% else %>
              <%= link_to image_tag(avatar_url(post.user), class: "posted-user-icon", alt: "ユーザーアイコン"), users_profile_path(name: post.user.name) %>
            <% end %>
          </figure>
          <div class="post-area-text">
            <%= link_to post_path(post.id) do %>
              <div class="posted-user-name"><%= post.user.name %>(<%= post.user.introduction %>)</div>
              <div class="posted-date"><%= elapsed_time_counter(post.created_at) %></div>
              <div class="post-text">
                <div class="post-title"><%= post.title %></div>
                <div class="post-content"><%= simple_format(post.post_content) %></div>
                <% unless post.avatar.blank? %>
                  <div class="post-pict">
                    <%= image_tag(post_image_url(post), class: "post-image", alt: "投稿画像") %>
                  </div>
                <% end %>
              </div>
            <% end %>
            <div id="like-buttons-<%= post.id %>">
              <%= render "likes/like_function", post: post %>
            </div>
            <div id="remember-buttons-<%= post.id %>">
              <%= render "remembers/remember_function", post: post %>
            </div>
            <% if current_user.already_commented?(post) %>
              <span class="comment-count" style="color: coral;"><i class="fa fa-comments"></i>&nbsp;<%= post.comments.count %></span>
            <% else %>
              <span class="comment-count" style="color: silver;"><i class="fa fa-comments"></i>&nbsp;<%= post.comments.count %></span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= paginate @posts %>
</section>
<div class="sp-tab-open-form-area">
  <div class="sp-tab-open-icon"><i class="fas fa-pen"></i></div>
</div>
<%= javascript_pack_tag 'post/common' %>

<script>
  // jscrollによる無限スクロール
  $(window).on('scroll', function() {
    scrollHeight = $(document).height();
    scrollPosition = $(window).height() + $(window).scrollTop();
    if ( (scrollHeight - scrollPosition) / scrollHeight <= 0.05) {
      $('.jscroll').jscroll({
        contentSelector: '.post-list',
        nextSelector: '.next a',
        loadingHtml: '<div id="loading-wrapper"><div id="loading-text">Loading.....</div><div id="loading-content"></div></div>'
      });
    }
  });
</script>
