<% provide(:title, "Timeline") %>
<!-- 投稿作成フォーム -->
<a class="post-form-appear">タイムラインに投稿する</a>
<section class="post-form">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10-desktop is-10-widescreen">
        <div class="box">
          <%= form_with model: @post do |f| %>
            <div class="field">
              <div class="control has-icons-left">
                <%= f.text_field :title, placeholder: "○○について", class: "input is-info", required: true %>
                <span class="icon is-small is-left">
                  <i class="fas fa-pen"></i>
                </span>
              </div>
              <p class="help is-danger">*必須,20字以内</p>
            </div>
            <div class="field">
              <div class="control has-icons-left">
                <%= f.text_area :post_content, class: "input is-info", placeholder: "投稿内容", required: true %>
                <span class="icon is-small is-left">
                  <i class="far fa-sticky-note"></i>
                </span>
              </div>
              <p class="help is-danger">*必須,200字以内</p>
            </div>
            <div class="field">
              <%= f.label :avatar ,"画像ファイルを選択", class: "image-input-btn" %>
              <div class="control">
                <%= f.file_field :avatar, class: "image-form", accept: 'image/jpeg,image/gif,image/png' %>
              </div>
              <p class="help is-info state">*画像ファイルの選択は任意です</p>
            </div>
            <div class="field">
              <%= f.submit "投稿する", class: "button is-link is-fullwidth m-b-10" %>
            </div>
            <a class="post-form-disappear button is-danger is-fullwidth">投稿をやめる</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- タイムライン -->
<section class="time-line">
  <h2 class="section-title">タイムライン</h2>
  <div class="posts-container">
    <div class="posts-contents">
      <% @posts.each do |post| %>
        <div class="post-area">
          <figure>
            <% if current_user.id == post.user_id %>
              <%= link_to image_tag(avatar_url(post.user), class: "posted-user-icon", alt: "ユーザーアイコン"), users_show_path %>
            <% else %>
              <%= link_to image_tag(avatar_url(post.user), class: "posted-user-icon", alt: "ユーザーアイコン"), users_profile_path(name: post.user.name) %>
            <% end %>
          </figure>
          <%= link_to post_path(post.id) do %>
            <div class="post-area-text">
              <div class="posted-user-name"><%= post.user.name %>(<%= post.user.introduction %>)</div>
              <div class="posted-date"><%= post_time(post.created_at) %></div>
              <div class="post-text">
                <span class="post-title"><%= post.title %></span>
                <span class="post-content"><%= post.post_content %></span>
                <% unless post.avatar.blank? %>
                  <div class="post-pict">
                    <%= image_tag(post_image_url(post), class: "post-image", alt: "投稿画像") %>
                  </div>
                <% end %>
                <span class="comment-count" style="color: gray;"><i class="fa fa-comments"></i><%= post.comments.count %></span>
                <% if current_user.already_liked?(post) %>
                  <span class="like-count" style="color: red;"><i class="fa fa-heart"></i></i><%= post.likes.count %></span>
                <% else %>
                  <span class="like-count" style="color: black;"><i class="fa fa-heart"></i></i><%= post.likes.count %></span>
                <% end %>
                <span class="remember-count" style="color: green;"><i class="fa fa-check-circle"></i></i><%= post.comments.count %></span>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
<%= javascript_pack_tag 'post/index' %>
