<% content_for :title do %>
  All - Posts
<% end %>
<section class="is-halfheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6-table is-10-desktop is-8-widescreen">
            <div class="box">
              <%= form_with model: @post do |f| %>
                <div class="field">
                  <%= f.label :title ,"タイトル", class: "label" %>
                  <div class="control has-icons-left">
                    <%= f.text_field :title, class: "", placeholder: "○○について", class: "input is-info" %>
                    <span class="icon is-small is-left">
                      <i class="fas fa-pen"></i>
                    </span>
                  </div>
                  <p class="help is-danger">*20字以内</p>
                </div>
                <div class="field">
                  <%= f.label :post_content ,"内容", class: "label" %>
                  <div class="control has-icons-left">
                    <%= f.text_area :post_content, class: "input is-info", placeholder: "内容" %>
                    <span class="icon is-small is-left">
                      <i class="far fa-sticky-note"></i>
                    </span>
                  </div>
                  <p class="help is-danger">*100字以内</p>
                </div>
                <div class="field">
                  <%= f.label :avatar ,"画像", class: "label" %>
                  <div class="control">
                    <%= f.file_field :avatar, accept: 'image/jpeg,image/gif,image/png' %>
                  </div>
                </div>
                <div class="field">
                  <%= f.submit "新規投稿する", class: "button is-link is-fullwidth m-t-10 m-b-10" %>
                </div>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<h2 class="page-title">タイムライン</h2>
<div class="post-container">
  <table class="post-table">
    <tbody class="post-space">
      <% @posts.each do |post| %>
        <tr class="post-elements">
          <td><%= link_to(image_tag(avatar_url(post.user), class: "post-user-image set-up", alt: "ユーザーアイコン"), users_show_path(post.user.id)) %></td>
          <td><%= link_to post.user.name, users_show_path(post.user.id) %></td>
          <td><%= link_to post.title, post_path(post.id) %></td>
          <td><%= link_to post.post_content, post_path(post.id) %></td>
          <td><%= link_to(image_tag(post_image_url(post), class: "post-image", alt: "投稿画像"), post_path(post.id)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
