<% content_for :title do %>
  Show Post - Foody!
<% end %>
<section class="time-line">
  <h2 class="page-title">投稿詳細</h2>
  <div class="posts-container">
    <div class="posts-contents">
      <div class="post-area">
        <figure>
          <% if current_user.id == @post.user_id %>
            <%= link_to image_tag(avatar_url(@post.user), class: "posted-user-icon", alt: "ユーザーアイコン"), users_show_path %>
          <% else %>
            <%= link_to image_tag(avatar_url(@post.user), class: "posted-user-icon", alt: "ユーザーアイコン"), "users/profile/#{@post.user_id}" %>
          <% end %>
        </figure>
        <div class="post-area-text">
          <div class="posted-user-name"><%= @post.user.name %>(<%= @post.user.introduction %>)</div>
          <div class="posted-date"><%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></div>
            <% if @post.user_id == current_user.id %>
              <%= link_to "編集", edit_post_path, class: "post-edit-link" %>
              <%= link_to "削除", @post, method: :delete, data: {confirm: "本当に削除しますか？"}, class: "post-delete-link" %>
            <% end %>
          <div class="post-text">
            <span class="post-title"><%= @post.title %></span>
            <span class="post-content"><%= @post.post_content %></span>
            <% unless @post.avatar.blank? %>
              <div class="post-pict">
                <%= image_tag(post_image_url(@post), class: "post-image", alt: "投稿画像") %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="comment-tree">
  <h2 class="page-title">コメント一覧</h2>
</section>
