<% content_for :title do %>
  Show Post - Foody!
<% end %>
<section class="show-post">
  <h2 class="page-title">投稿詳細</h2>
  <div class="posts-container">
    <div class="posts-contents">
      <div class="post-area">
        <figure>
          <% if current_user.id == @post.user_id %>
            <%= link_to image_tag(avatar_url(@post.user), class: "posted-user-icon", alt: "ユーザーアイコン"), users_show_path %>
          <% else %>
            <%= link_to image_tag(avatar_url(@post.user), class: "posted-user-icon", alt: "ユーザーアイコン"), controller: "users", action: "profile", id: @post.user_id %>
          <% end %>
        </figure>
        <div class="post-area-text">
          <div class="posted-user-name"><%= @post.user.name %>(<%= @post.user.introduction %>)</div>
          <div class="posted-date"><%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></div>
            <% if @post.user_id == current_user.id %>
              <%= link_to "編集", edit_post_path, class: "post-edit-link" %>
              <%= link_to "削除", @post, method: :delete, data: {confirm: "本当に削除しますか？"}, class: "post-delete-link" %>
            <% end %>
          <div class="post-text">
            <span class="post-title"><%= @post.title %></span>
            <span class="post-content"><%= @post.post_content %></span>
            <% unless @post.avatar.blank? %>
              <div class="post-pict">
                <%= image_tag(post_image_url(@post), class: "post-image", alt: "投稿画像") %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="comment-form">
  <h2 class="page-title">コメントする</h2>
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6-table is-10-desktop is-8-widescreen">
        <div class="box">
          <%= form_with(model:[@post, @comment], method: :post) do |f| %>
            <div class="field">
              <div class="control has-icons-left">
                <%= f.text_area :comment_content, placeholder: "コメント", class: "input is-info" %>
                <span class="icon is-small is-left">
                  <i class="fas fa-pen"></i>
                </span>
              </div>
              <p class="help is-danger">*必須,100字以内</p>
            </div>
            <div class="field">
              <%= f.label :avatar ,"画像ファイルを選択", class: "image-input-btn" %>
              <div class="control">
                <%= f.file_field :avatar, class: "image-form", accept: 'image/jpeg,image/gif,image/png' %>
              </div>
              <p class="help is-info state">*画像ファイルの選択は任意です</p>
            </div>
            <div class="field">
              <%= f.hidden_field :post_id, value: @post.id %>
              <%= f.submit "コメントする", class: "button is-link is-fullwidth m-b-10" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="comment-tree">
  <h2 class="page-title">コメント一覧</h2>
  <% @comments.each do |comment| %>
    <%= comment.comment_content %>
  <% end %>
</section>

<%= javascript_pack_tag 'post/show' %>
