<% content_for :title do %>
  Post - Foody!
<% end %>
<section class="is-halfheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6-table is-10-desktop is-8-widescreen">
          <div class="box">
            <div class="field has-text-centered">
              <strong>投稿詳細</strong>
            </div>
            <div class="box">
              <div class="field">
                <span class="user-element">投稿アカウント名: <%= link_to @post.user.name, users_show_path(@post.user.id) %></span>
              </div>
              <div class="field">
                <span class="user-element">タイトル: <%= @post.title %></span>
              </div>
              <div class="field">
                <span class="user-element">内容: <%= @post.post_content %></span>
              </div>
              <% unless @post.avatar.blank? %>
                <div class="field">
                  <span class="user-element"><%= image_tag post_image_url(@post), class: "post-show-image" %></span>
                </div>
              <% end %>
              <div class="field">
                <span class="user-element">投稿日時: <%= @post.created_at %></span>
              </div>
              <div class="field">
                <span class="user-element"><%= link_to "戻る", :back, class: "" %></span>
              </div>
              <% if @post.user_id == current_user.id %>
                <div class="field">
                  <span class="user-element"><%= link_to "削除", @post, method: :delete, data: {confirm: "本当に削除しますか？"} %></span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
