<section class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-12-mobile is-10-tablet is-10-desktop is-9-widescreen is-8-fullhd">
          <div class="box">
            <div class="field has-text-centered">
              <strong>管理人ログイン</strong>
            </div>
            <div class="box">
              <%= form_with model: @admin_user, url: admin_user_session_path, id: 'new_admin_user', class: 'new_admin_user', local: true do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <div class="field">
                  <%= f.label :メールアドレス, class: "label" %>
                  <div class="control has-icons-left">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-info", placeholder: "(必須)" %>
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <%= f.label :パスワード, class: "label" %>
                  <div class="control has-icons-left has-icons-right">
                    <%= f.password_field :password, autocomplete: "current-password", class: "input is-info", placeholder: "(必須)" %>
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="far fa-eye"></i>
                    </span>
                  </div>
                  <% if @minimum_password_length %>
                    <p class="help is-danger">*<%= @minimum_password_length %>文字以上</p>
                  <% end %>
                </div>
                <% if devise_mapping.rememberable? %>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end %>
                <div class="field">
                  <%= f.submit "Log in", class: "button is-link is-fullwidth m-t-10 m-b-10" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
